<p id="notice"><%= notice %></p>

<h1>I Am A... </h1>
<%= link_to 'Founder', new_founder_path %>
<%= link_to 'Developer', new_developer_path %>

<p>Welcome paragraph and tagline. As in Welcome to ____. The site where _____ </p>