<h1>Sign Up as a Founder!</h1>

<h4>Friendly reminder on what to write in your "ideas" section. make it enticing but not give away. remind that developers will have to e-sign an agreement before joining</h4>

<%= render 'form' %>


<!-- Only if admin
 -->
<%= link_to 'Back', founders_path %>
